<div class="wrapper">
    <div class="logo">
        <img src="https://tse1.mm.bing.net/th/id/OIP.3IsXMskZyheEWqtE3Dr7JwHaGe?pid=ImgDet&rs=1" alt="">
    </div>
    <div class="text-center mt-4 name">
        signup
    </div>
    <form class="p-3 mt-3">
        <div class="form-field">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field">
            <span class="fas fa-key"></span>
            <input type="email" name="email" id="eml" placeholder="Email">
        </div>
        <button class="btn mt-3">SignUp</button>
    </form>
</div>