.forgetPassword {
    color: black;
    font-size:20px;
    font-weight: bolder;
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
}

.phoneNumber{
    padding: 4px 4px;
    margin: 10px;
    border-radius: 40px;
}

.ng-invalid{
    border: 10px solid red;
}

/* input.ng-valid{
    border-left: 15px solid green ;
} */
