.forgetPassword {
    color: black;
    font-size:20px;
    font-weight: bolder;
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
}

.phoneNumber{
    padding: 4px 4px;
    margin: 10px;
    border-radius: 40px;
}

/* input.ng-invalid {
    border: solid red;
} */

.tag{
    color: lightcoral;
    margin: 10px;
    text-align: center;
}
/* input.ng-valid{
    border-left: 15px solid green ;
} */
